Applicant Name: <%= @application.name %><br>
Street address: <%= @application.name %><br>
City: <%= @application.name %><br>
State: <%= @application.name %><br>
Zip code: <%= @application.name %><br>
Reason why they feel they would be a good home: <%= @application.name %><br>
Pets Applied for:<br>
<%= @application.pets.each do |pet| %>
<p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>
Application Status: "In Progress", "Pending", "Accepted", or "Rejected"
